html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
    background-color: #FAFAFA;
}

a, a:visited {
    color: #00BCD4;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #8BC34A;
    text-decoration: none;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    flex: 0 1 auto;
}

.box .row.header {
    flex: 0 1 auto;
    height: 65px;
    z-index: 3;
    padding: 20px;
}

.box .row.content {
    flex: 1 1 auto;
    z-index: 1;
}

.shadow-small {
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.shadow-medium {
    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
}

.shadow-large {
    -webkit-box-shadow: 3px 0 35px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 0 35px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 35px 0 rgba(0, 0, 0, 0.3);
}

.shadow-small-inset {
    -webkit-box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.05) inset;
}

.bg-color-primary {
    background-color: #689f38;
}

#menu {
    cursor: pointer;
}

.logo {
    padding: 10px 10px 10px 35px;
}

#more {
    cursor: pointer;
    float: right;
}

.icon {
    padding: 10px;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.icon:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#layer-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 540px;
    height: 100%;
    display: none;
}

.box-white {
    background-color: #FFFFFF;
}

.rounded-corners {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#more-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 4;
    display: none;
    width: 270px;
}

#more-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#more-menu ul li {
    padding: 15px 30px;
    font-size: 25px;
    cursor: pointer;
}

#more-menu ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#more-menu ul li:active {
    background-color: rgba(0, 0, 0, 0.1);
}

#page {
    display: none;
}

#page-box {
    margin: 30px auto;
    width: 840px;
    padding: 15px 90px;
    text-align: justify;
    line-height: 35px;
}

h1 {
    font-size: 30px;
}

p {
    line-height: 35px;
}

.layer-list-box {
    position: absolute;
    width: 100%;
    bottom: 105px;
    top: 75px;
    overflow-y: auto;
}

.layer-list-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layer-list-box ul li {
    color: #727272;
    font-size: 25px;
    padding: 20px 30px;
    border-bottom: 1px solid #B6B6B6;
    cursor: pointer;
}

.layer-list-box ul li.active {
    color: #212121;
}

.layer-list-box ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.layer-list-box ul li:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.layer-list-head {
    background-color: #EAEAEA;
    color: #757575;
    font-size: 25px;
    padding: 15px 45px;
    font-weight: bold;
    margin-top: 30px;
}

#layer-list-export {
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 210px;
    height: 75px;
    padding: 30px 30px 0;
    font-size: 25px;
    color: #2E2E2E;
    white-space: nowrap;
}

#layer-list-export-png {
    left: 270px;
}

#layer-list-export-pdf {
    left: 405px;
}

.layer-list-export-button {
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 135px;
    height: 75px;
    padding: 15px 0;
    cursor: pointer;
    font-size: 25px;
    color: #2E2E2E;
    text-align: center;
}

.layer-list-export-button:hover {
    background-color: #F5F5F5;
}

.layer-list-export-button:active {
    background-color: #E0E0E0;
}

.layer-list-export-image {
    vertical-align: middle;
}

.layer-list-image {
    vertical-align: middle;
    margin-right: 30px;
}

.video-layer-preview {
    -webkit-clip-path: circle(22px at center);
    -moz-clip-path: circle(22px at center);
    clip-path: circle(22px at center);
    margin: 0;
    position: absolute;
    right: 30px;
}

#video-preview {
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    color: #FFFFFF;
    display: none;
}

#video-controls {
    z-index: 3;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: none;
}

#video-controls #play-pause-button {
    width: 600px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../images/icons/ic_play_arrow_white_128dp.png') no-repeat center;
    border: none;
    z-index: 4;
    cursor: pointer;
}

#video-controls #progress-bar {
    height: 5px;
    margin: 0 15px 15px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 570px;
    border: none;
    background: #07B8C9;
}

progress::-moz-progress-bar {
    background: #07B8C9;
}

progress::-webkit-progress-bar {
    background: #FFFFFF;
}

progress::-webkit-progress-value {
    background: #07B8C9;
}

#geocoder-container {
    width: 540px;
    height: 75px;
    position: absolute;
    top: 135px;
    right: 30px;
    z-index: 2;
    font-size: 25px;
    color: #212121;
    background: #FFFFFF url('../images/icons/ic_search_green_48dp.png') no-repeat right 15px center;
}

#geocoder-container div {
    width: 100%;
    box-shadow: none;
    font: inherit;
    position: inherit;
    background-color: transparent;
    min-width: inherit;
    max-width: inherit;
    z-index: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-sizing: inherit;
}

#geocoder-container .geocoder-icon-search {
    background-image: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#geocoder-container input {
    font-size: inherit;
    width: inherit;
    height: 75px;
    padding: 10px 70px 10px 55px;
}

#geocoder-container ul {
    margin-top: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 16px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}

#geocoder-container ul li a {
    padding: 15px;
    border: none;
}

#geocoder-container .geocoder-pin-right {
    right: 490px;
    top: 16px;
}

.mapboxgl-ctrl-attrib {
    display: none;
}